body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
  text-decoration: none;
  fill:none;
}

h2, h3 {
  text-align: center;
}

.nav-links {
  font-size:20px;
}

@media (min-width: 540px) and (max-width: 1024px) {
  
.nav-links {
  margin: 5px;
  }
}

@media (min-width: 1024px) {

h2 {
  font-size: 40px;
  }

.nav-links {
  margin: 10px;
  }
}