body {
  margin: 0;
  font-family: Roboto ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
  text-decoration: none;
}

h2, h3 {
  text-align: center;
}



/* Header */
.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10px;
}

.header-color-container {
  background-color: #F5E9DC;
  width:70%;
  height: 350px;
  text-align: center;
}

.header-color-container h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000;
  margin:0px;
  font-size: 70px;
}

.header-color-container p {
  display: none;
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000;
  margin:0px;
  font-size: 12px;
}


.navbar {
  display: flex;
  flex-direction: column;
  margin:10px;
}

.links-right { 
  justify-content: right;
}


.start-text { 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.header-text-container {
  display: flex;
  flex-direction: column;
}


/*Start page */

.facts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 60px 0px;
}

.wide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 100px 0px;
}



/*Discussion page */

.disc-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* FORUM */

main {
  width: 420px;
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 48px 16px 80px 16px;
  overflow: scroll;
}

.forum-card {
  margin-bottom: 40px;
  padding: 20px;
  width: 80%;
  background-color: #0d335d;
  color:#fff;
  border-radius: 30px;
  font-size: 18px;
}

.message-time {
  display: flex;
  justify-content: flex-end;
}

.story-input-container {
  height: 96px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

.story-input-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 320px;
  padding: 16px 0px;
  margin: 0 auto;
}

.message-field {
  height: 48px;
  padding: 0 16px 0 16px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 24px;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.87);

  flex: 1;
}


.button-send-message {
  margin-left: 8px;
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #F5E9DC;
}

/* Aligns the icon in the button */
.button-send-message img {
  position: relative;
  left: 2px;
  top: 1px;
  width:50%
}


/* Footer */
.container {
  display: flex;
  flex-direction: column;
  padding: 80px 10px;
  background-color: #F5E9DC; 
}

nav { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.end-text {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 700px) and (max-width: 1024px) {


.header-color-container {
  height: 450px;
}

.header-color-container h1 {
  left: 60%;
  font-size: 130px;
}

.header-color-container p {
  display: flex;
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000;
  margin:0px;
  font-size: 16px;
}


.end-text p { 
  width: 20%;
  margin: 40px 50px 0px 0px;
  }

.container-cards {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.start-text {
  flex-direction: row;
  justify-content: center;
}

.start-text p {
  width: 30%;
  margin-left: 50px;
  text-align: left;
}

.start-style {
  display: flex;
  flex-direction: column;
}

.disc-cards {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 100px 0px 50px 0px;
}

.nav-links {
  padding: 20px;
  margin: 10px;
}

}

@media (min-width: 1024px) {

.header-color-container {
  height: 450px;
}

.header-color-container h1 {
  left: 60%;
  font-size: 180px;
}

.header-color-container p {
  display: flex;
  position: absolute;
  top: 45%;
  left: 54%;
  font-size: 26px;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #000;
  margin:0px;
}


.end-text p { 
  width: 20%;
  margin: 40px 50px 0px 0px;
}
  
.container-cards {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  
.start-text {
  flex-direction: row;
  justify-content: center;
}
  
.start-text p {
  width: 30%;
  margin-left: 50px;
  text-align: left;
}
  
.start-style {
  display: flex;
  flex-direction: column;
}

.disc-cards {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 130px 0px 50px 0px;
}

.nav-links {
  padding: 20px;
  margin: 10px;
}

.love {
  width: 50%;
}

.navbar {
  flex-direction: row;
}

nav {
  justify-content: left;
}

nav p {
  padding:10px 30px 0px 0px;
}

/* FORUM*/
.forum-card {
  width: 30%;
}

}